<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Channels</mat-label>
    <mat-select formControlName="channels">
      <mat-option value="grayscale">
        Grayscale
      </mat-option>
      <mat-option value="blend">
        Blend
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
