:host {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(.5fr, 1fr));
  grid-auto-rows: .5fr;
  grid-gap: 20px; */
}

