:host {
  display: grid;
  height: 100vh;
  grid-template:  " header "  auto
                  " main   "  1fr
}

mat-toolbar {
  grid-area: header;
}

.router-container {
  grid-area: main;
  overflow: auto;
}
